fastapi
uvicorn
requests
numpy
pandas
streamlit==1.58.0
python-dotenv
pydantic
httptools
python-multipart
scipy
pytz
yfinance
libsql

nfl-data-py
sportsreference
sportsipy
scikit-learn
psycopg2-binary
xgboost
cfbd==4.5.2